<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">About.</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Hi my name is Rohan and I'm a Software Enginner as HCL Tech.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="https://protfolio-rohan.herokuapp.com/" target="_blank"
                    class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">View Portfolio.</a>
            </div>
        </div>
    </div>
</div>